body {
    background-color: #A45A37;
}

.main_bg {
    width: 100%;
}

.map-section {
    position: relative;
}

#lightbulb-link {
    position: absolute;
    width: 5%;
    height: 12%;

    top: 36%;
    left: 44.7%;

    z-index: 2;
}

#visionboard-link {
    position: absolute;
    width: 21%;
    height: 22%;

    top: 19%;
    left: 18%;

    z-index: 2;
}

#visionboard-popup {
    visibility: hidden;
    position: absolute;
    width: 23%;

    top: 15%;
    left: 17%;

    z-index: 1;
}

#lighting-bulb-popup {
    visibility: hidden;

    position: absolute;
    width: 16%;

    top: 27.4%;
    left: 39.1%;

    z-index: 1;
}

#music-section-img {
    position: absolute;
    right: 0%;
    bottom: 10%;

    width: 15%;
    z-index: 1;
}
#pause-music-img {
    position: absolute;
    right: 0.1%;
    bottom: 10.1%;

    visibility: hidden;
    width: 5.6%;
    z-index: 2;
}